/* ********************************************* services ********************************************* */
.service-title {
	font-size: var(--font-size-normal);
}
.service-teaser {
	font-style: italic;
}

.swiper-slide {
	max-width: 25rem;
	padding: 2rem 0;
}

.single-service p {
	font-size: var(--font-size-small);
}
.single-service img {
	width: auto;
	height: 20rem;
}

@media only screen and (max-width: 600px) {
	.single-service img {
		width: 100%;
		height: auto;
	}
}
