#welcome {
	margin-top: 10rem;
}
#welcome h1 {
	color: var(--prim-color);
}
#welcome p {
	font-size: 1.5rem;
	max-width: 50rem;
}

.home .card,
.home .swiper-slide {
	max-width: 25rem;
}

.home h2 + p {
	font-size: 1.2rem;
}

.home hr {
	margin: 5rem 0;
	border: 2px solid var(--prim-color);
}
