/* ********************************************* übersicht ********************************************* */
.ubersicht .sites-cont {
	margin-top: 2rem;
	margin-left: 2rem;
}

.ubersicht .site-subcont {
	margin-left: 3rem;
}

.ubersicht .site-link {
	align-items: center;
	padding: 0.5rem;
}

.ubersicht .site-link img {
	margin-right: 1rem;
}
