/* ********************************************* dienstleistungen ********************************************* */
.dienstleistungen .dienste-cont .owl-carousel {
	width: 50%;
}

.dienstleistungen .dienst-short {
	background-color: #0000006e;
	border-radius: 20px;
	width: 100%;
	gap: var(--padding-gap-normal);
	padding: var(--padding-gap-normal);
	font-size: var(--font-size-small);
}

.dienstleistungen .dienst-title {
	font-size: var(--font-size-normal);
}

.dienstleistungen .dienst-teaser {
	font-style: italic;
}

.dienstleistungen .dienst-list ul {
	margin-left: var(--padding-gap-big);
}

.dienstleistungen a.btn {
	margin-top: var(--padding-gap-normal);
	width: 50%;
}

/* ********************************************* einzelne ********************************************* */
.dienst-full {
	gap: var(--padding-gap-normal);
	font-size: var(--font-size-small);
}

.dienst-full .dienst-teaser {
	font-style: italic;
}

.dienst-full .dienst-refs ul,
.dienst-full .dienst-list ul {
	margin-left: var(--padding-gap-big);
}

.dienst-full a.btn {
	margin-top: var(--padding-gap-big);
	width: 25%;
}
