/* ********************************************* über ********************************************* */
.me #skills .card {
	width: -webkit-fill-available;
}
.me b {
	font-weight: 600;
}
.me h2,
.me h3 {
	margin-bottom: 1rem;
}
.me h2 svg,
.me h3 svg {
	margin-right: 1rem;
}

.me #skills progress {
	width: 100%;
	border-radius: 0;
	margin-bottom: 0.7rem;
}
.me #skills progress::-webkit-progress-bar {
	background: #bbbbbb;
}

.me #skills progress::-webkit-progress-value {
	background: var(--prim-color);
}

.me #skills .progress-text {
	display: flex;
	align-items: center;
}
.me #skills .progress-text svg {
	margin-right: 0.2rem;
}
