/* ********************************************* header ********************************************* */
header {
	width: 100%;
	padding: var(--padding-gap-normal);
	background-color: var(--prim-color);
	align-content: center;
	justify-content: space-between;
}

header .navbar-content,
header .navbar-brand {
	align-items: center;
	gap: var(--padding-gap-huge);
}

header .navbar-brand {
	font-size: var(--font-size-big);
}
header .nav-link {
	font-size: var(--font-size-normal);
}

/* ********************************************* responsive ********************************************* */
header .mobile,
header .mobile .dropdown-menu {
	display: none;
}

header .mobile .dropdown:hover .dropdown-menu {
	display: flex;
	position: absolute;
	right: 0rem;
}
header .mobile .dropdown-btn {
	width: 40px;
	height: 40px;
}
header .mobile .nav-link {
	background-color: var(--prim-color);
	padding: var(--padding-gap-small);
	font-size: var(--font-size-small);
}
