nav.navbar {
	width: 100%;
	padding: 1rem;
	background-color: var(--prim-color);
	align-content: center;
	justify-content: space-between;
}

nav.navbar .navbar-content,
nav.navbar .navbar-brand {
	align-items: center;
	gap: 2rem;
}

nav.navbar .navbar-brand {
	font-size: 1.8rem;
}
nav.navbar .nav-link {
	font-size: 1.5rem;
}
