/* ********************************************* header ********************************************* */
.brand-name {
	margin-left: var(--padding-gap-normal);
	color: var(--text-sec-color);
}

/* ********************************************* footer ********************************************* */
.footer-space {
	height: 2rem;
}
footer {
	width: 100%;
	color: var(--text-sec-color);
	background-color: var(--prim-color);
	bottom: 0;
	position: absolute;
}
footer .copyright {
	font-size: var(--font-size-mini);
}

/* ********************************************* cards ********************************************* */
.card-title {
	font-size: var(--font-size-normal);
}
.card-teaser {
	font-style: italic;
}

/* ********************************************* other ********************************************* */
main {
	width: 100%;
	padding: 2rem;
	align-self: center;
}
main > div {
	margin-bottom: 3rem;
}
.page-content-only {
	margin-top: 3rem;
}
.page-title {
	font-size: 1.5em;
}
.section-title {
	font-size: 1.5em;
}
.section-text.text-space {
	margin-top: var(--text-space-normal);
	margin-bottom: var(--text-space-normal);
}
