/* ********************************************* forms ********************************************* */

form {
	max-width: 50rem;
}
.full-width {
	width: 100%;
}
.form-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.form-element {
	width: 100%;
}
.form-element-multi:nth-child(1) {
	padding-right: 0.5rem;
}
.form-element-multi:nth-child(2) {
	padding-left: 0.5rem;
}

.after-submit {
	display: none;
}

label {
	color: var(--text-primary-color) !important;
}