@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");

/* ********************************************* colors ********************************************* */
:root {
	--primary-color: #507cff;
	--secondary-color: #ffffff;
	--text-primary-color: #000000;
	--text-secondary-color: #ffffff;
	--background-color: #ffffff;
}

/* ********************************************* smoother ********************************************* */
:root {
	--soft-dark-shadow: 10px 10px 15px 8px #0000001c;
	--mid-dark-shadow: 10px 10px 15px 10px #0000003d;
	--hard-dark-shadow: 10px 10px 15px 10px #0000005e;
}

/* ********************************************* sizes ********************************************* */
:root {
	/* gaps */
	--padding-gap-huge: 2rem;
	--padding-gap-big: 1.5rem;
	--padding-gap-normal: 1rem;
	--padding-gap-small: 0.5rem;
	--padding-gap-mini: 0.3rem;

	/* font */
	--font-size-big: 1.8rem;
	--font-size-normal: 1.5rem;
	--font-size-small: 1.2rem;
	--font-size-mini: 1rem;
	--font-size-micro: 0.8rem;

	--text-space-normal: 0.5rem;
}

body {
	position: relative;
	background-color: var(--background-color);
	width: 100vw;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
}

/* ********************************************* shortforms ********************************************* */
.f {
	display: flex;
}
.c {
	justify-content: center;
}
.a {
	align-items: center;
}
.col {
	flex-direction: column;
}
.row {
	flex-direction: row;
}

/* ********************************************* links ********************************************* */
a.n {
	text-decoration: none;
}

/* ********************************************* texts ********************************************* */
.italic {
	font-style: italic;
}
.text-sec {
	color: var(--text-secondary-color) !important;
}
.text-center {
	text-align: center;
}
hr {
	border: 2px solid var(--primary-color);
}
/* ********************************************* other ********************************************* */
p,
span {
	color: var(--text-primary-color);
}
