/* ********************************************* responsive ********************************************* */

@media only screen and (max-width: 1920px) {
	/* ****************** footer ****************** */
	body footer {
		padding: var(--padding-gap-normal);
		gap: var(--padding-gap-small);
	}
}

@media only screen and (max-width: 1250px) {
	/* ****************** footer ****************** */
	body footer {
		padding: var(--padding-gap-normal);
		gap: var(--padding-gap-small);
	}
}

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 650px) {
	/* ****************** footer ****************** */
	body footer a,
	body footer .copyright {
		font-size: var(--font-size-mini);
	}
}

@media only screen and (max-width: 600px) {
	/* ****************** forms ****************** */
	.form-group {
		flex-direction: column !important;
	}
	.form-element-multi {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.form-element-multi:nth-child(2) {
		padding-top: 1rem;
	}
}
