/* ********************************************* responsive ********************************************* */

@media only screen and (max-width: 1250px) {
	/* ****************** header ****************** */
	body header {
		padding: var(--padding-gap-small);
	}
	body header .navbar-brand {
		font-size: var(--font-size-normal);
		gap: var(--padding-gap-big);
	}
	body header .nav-link {
		font-size: var(--font-size-small);
	}
	body header .navbar-content,
	body header .navbar-brand {
		gap: var(--padding-gap-normal);
	}

	/* ****************** main ****************** */

	/* ****************** footer ****************** */
	body footer {
		padding: var(--padding-gap-normal);
		gap: var(--padding-gap-small);
	}
}

@media only screen and (max-width: 850px) {
	/* ****************** header ****************** */
	body header .navbar-brand img {
		width: 40px;
		height: 40px;
	}
	body header .navbar-brand {
		font-size: var(--font-size-small);
	}
	body header .nav-link {
		font-size: var(--font-size-mini);
	}
}

@media only screen and (max-width: 650px) {
	/* ****************** header ****************** */
	body header .desktop {
		display: none;
	}
	body header .mobile {
		display: block;
	}
}
