/* ********************************************* responsive ********************************************* */

@media only screen and (max-width: 1920px) {
	/* ****************** footer ****************** */
	body footer {
		padding: var(--padding-gap-normal);
		gap: var(--padding-gap-small);
	}
}

@media only screen and (max-width: 1250px) {
	/* ****************** footer ****************** */
	body footer {
		padding: var(--padding-gap-normal);
		gap: var(--padding-gap-small);
	}
}

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 650px) {
	/* ****************** footer ****************** */
	body footer a,
	body footer .copyright {
		font-size: var(--font-size-micro);
	}
}
