/* ********************************************* footer ********************************************* */
footer {
	padding: var(--padding-gap-normal);
	width: 100%;
	background-color: var(--prim-color);
	bottom: 0;
	position: absolute;
	align-items: center;
	gap: var(--padding-gap-normal);
}
footer .links {
	gap: var(--padding-gap-normal);
}

footer .copyright {
	font-size: var(--font-size-mini);
}
