@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");

/* ********************************************* colors ********************************************* */
:root {
	--text-color: #000000;
	--text-prim-color: #ffffff;
	--text-sec-color: #ffffff;
	--prim-color: #507cff;

	/* interaction */
	--btn-color: #bbbbbb;
	--btn-hover-color: #9c9c9c;
	--btn-prim-color: #507cff;
	--btn-prim-hover-color: #3769ff;
	--inp-color: #f5f5f5;
	--inp-hover-color: #e2e2e2;
}

/* ********************************************* css reset ********************************************* */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	overflow: hidden;
}
#root {
	width: 100%;
	height: 100%;
}

/* ********************************************* shortforms ********************************************* */
.f {
	display: flex;
}
.c {
	justify-content: center;
}
.a {
	align-items: center;
}
.col {
	flex-direction: column;
}
.row {
	flex-direction: row;
}

/* ********************************************* links ********************************************* */
a,
a:hover,
a:visited {
	color: var(--text-color);
}
a.n {
	text-decoration: none;
}

/* ********************************************* sizes ********************************************* */
.w50 {
	width: 50%;
}

/* ********************************************* elements ********************************************* */
.text-sec {
	color: var(--text-sec-color) !important;
}
.text-center {
	text-align: center;
}
.home {
	width: 100%;
	padding: 2rem;
}
.home .header {
	margin-bottom: 2rem;
}
.home .content {
	gap: 1rem;
}
.home .section-title {
	font-size: 1.5em;
}
.home a.btn {
	align-self: center;
	text-align: center;
	padding: 0.5rem 1rem;

	color: var(--text-sec-color);
	background-color: var(--btn-prim-color);
	transition: background-color 0.3s;
	border-radius: 1rem;
}
.home a.btn:hover {
	background-color: var(--btn-prim-hover-color);
}
