.owl-before {
	left: -40px;
	content: url("./before.svg");
}
.owl-next {
	right: -40px;
	content: url("./next.svg");
}
i.owl-before,
i.owl-next {
	width: 30px;
	height: 30px;
	background-color: #494949;
	position: absolute;
	top: 40%;
}
